/* @media (min-width:1021px){
    .notif-mid-section{
        display:flex;
        flex-direction: column;
        margin-left:22%;
        margin-right:24%;
        height:calc(100vh - 69px);
        overflow-y:scroll;
    }
}
@media (min-width:650px) and (max-width:1020px){
    .notif-mid-section{
        display:flex;
        flex-direction: column;
        margin-left:32%;
        margin-right:1%;
        height:calc(100vh - 69px);
        overflow-y:scroll;
    }
}
@media (max-width:649px){
    .notif-mid-section{
        display:flex;
        margin-left: 0.5%;
        margin-right:0.5%;
        flex-direction: column;
        height:calc(100vh - 69px);
        overflow-y:scroll;
    }
} */

.notif-mid-section::-webkit-scrollbar {
    display: none;
}

.notif-main-card-container{
    padding: 0%;
    width: auto;
}
.notif-main-card{
    border-radius: 10px;
    margin-bottom: 5px;
}
.notif-main-card-body{
    flex-direction: row;
    display: flex;
}
.notif-main-card-text{
    margin-left: 3%;
}
.notif-main-card-img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.notif-main-card-side-img{
    width:20px;
    height: 20px;
    padding: 0%;
    margin: 0%;
}
.notif-main-card-button{
    background-color: white;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 0%;
    border: 0px;
    margin-top: 0%;
}